<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/output.css" >
    <title>Route summary</title>
</head>
<body class="dark:bg-gray-900">
    <%- include('navbar', { currentPage: null }) %>
    
    <div class="container mx-auto p-8 max-w-4xl">
        <h2 class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl dark:text-white"><%= locals.route.name %></h2>

        <div class="h-96 mb-6" id="map">
            Map should appear here. Please contact support if it doesn't.
            <%# Loaded by script %>
        </div>

        <a href="/downloads/waypoints-qrs/<%= locals.route.id %>" class="inline-block focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg px-5 py-2.5 mb-6 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">Download all QR codes</a>

        <div class="relative overflow-x-auto shadow-md sm:rounded-lg mb-6">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            ID
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Waypoint name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Latitude
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Longitude
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <span class="sr-only">QR Code</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% locals.waypoints.forEach(waypoint => { %>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <td class="px-6 py-4">
                            <%= waypoint.order_id %>
                        </td>
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            <%= waypoint.name %> 
                        </th>
                        <td class="px-6 py-4">
                            <%= waypoint.latitude %>
                        </td>
                        <td class="px-6 py-4">
                            <%= waypoint.longitude %> 
                        </td>
                        <td class="px-6 py-4 text-right">
                            <a href="/downloads/waypoint-qr/<%= waypoint.id %>" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">QR Code</a>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>

        <h3 class="text-3xl font-bold dark:text-white mb-4">Players' progress</h3>
        <p class="mb-3 text-gray-500 dark:text-gray-400">Here you can see all players who joined this route and which waypoints they have visited. The format is <i>username (user id)</i>.</p> 
        <div>
            <% locals.players.forEach(player => { %>
                <span class="mb-2 text-lg font-semibold text-gray-900 dark:text-white"><%= player.username %> (<%= player.user_id %>)</span>
                <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400 mb-3">
                    <% locals.waypoints.forEach(waypoint => { %>
                        <li>W<%= waypoint.order_id %> (<%= waypoint.name %>): <%= player.visitedWaypoints.includes(waypoint.id) ? 'YES' : 'NO' %></li>
                    <% }) %>
                </ul>
            <% }) %>
           
        </div>

    </div>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=<%= locals.googleMapsApiKey %>&callback=initMap&v=weekly"
      defer
    ></script>
    <%- include('map-display-waypoints-script') %>
    <%- include('end-scripts') %>
</body>
</html>