<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="/styles/output.css" > -->
    <title>Route summary</title>
</head>
<body class="dark:bg-gray-900">
    <%= locals.route.name %>
    <ul>
        <% locals.waypoints.forEach(waypoint => { %>
        <li><%= waypoint.id %> | <%= waypoint.latitude%> | <%= waypoint.longitude %> | <%= waypoint.route_id %> | <%= waypoint.name %> | <a href="/downloads/waypoint-qr/<%= waypoint.id %>">Download QR code</a></li> 
        <% }) %>
    </ul>
    <!-- <%- include('navbar') %>
    <div class="container mx-auto p-8 max-w-lg">
        <h2 class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl dark:text-white">Your routes</h2>
    </div> -->
</body>
</html>